################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Project_OnTheFly/FileContentIndex/99e131b5-7705-40bf-b1e6-f516b18f5a16.vsidx
/.vs/Project_OnTheFly/FileContentIndex/c3f71f09-6c96-4221-ad00-41fb4eee8d0d.vsidx
/.vs/Project_OnTheFly/FileContentIndex/371b2329-b737-48f8-9f12-190a4bb76241.vsidx
