################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Project_OnTheFly/FileContentIndex/write.lock
/.vs/Project_OnTheFly/FileContentIndex/e31a5ee0-b4d1-4091-8883-35f6e1e1e646.vsidx
/.vs/Project_OnTheFly/FileContentIndex/e62cf372-7493-43d9-943c-c3c05e7574e2.vsidx
/.vs/Project_OnTheFly/FileContentIndex/ef72ffee-e7b3-4a46-9274-b6ce68c5cd82.vsidx
/.vs/Project_OnTheFly/FileContentIndex/a6684843-04fb-4dac-8719-dbc68b66ffdd.vsidx
/.vs/Project_OnTheFly/FileContentIndex/7c1c6daf-c439-431c-8020-0cea104a0877.vsidx
/.vs/Project_OnTheFly/FileContentIndex/e9f3c95e-691a-4450-ba38-012528c12fe2.vsidx
/.vs/Project_OnTheFly/FileContentIndex/ed3788f5-660d-43b4-8c57-dbb80c0a3a26.vsidx
