################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Project_OnTheFly/FileContentIndex/455e12bf-d78c-4ead-a44e-1bb6c205b568.vsidx
